body {
  background-image: url(/src/images/pexels-mudassir-ali-2680270.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  padding: 0;
  margin: 0;

  font-family: lato, sans-serif;
}

#mainContainer {
  width: clamp(800px, 70%, 1400px);
  height: clamp(500px, 70%, 900px);
  resize: both;

  display: grid;
  grid-template-columns: clamp(120px, 220px, 260px) 1fr;
  grid-template-rows: 80px 1fr;

  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  overflow: hidden;

  position: relative;

  & .header {
    grid-row: 1;
    grid-column: 1/3;

    background-color: #62bec1;
    border-bottom: 1px solid #b9b9b9;

    text-align: center;
  }

  & .menu {
    grid-row: 2/2;
    grid-column: 1/1;
    background-color: #eeeeee;
    border-right: 1px solid #b9b9b9;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem;
    padding-right: 0.2rem;

    overflow-y: scroll;

    & h4 {
      margin: 1rem;
      margin-left: 0;
    }

    & .menu_section {
      display: flex;
      flex-direction: column;

      & ul {
        list-style-type: none;
        margin: 0;

        padding: 0;

        & li {
          cursor: pointer;
          margin-bottom: 0.3rem;

          display: flex;
          width: 80%;
          justify-content: space-between;
          align-items: center;

          &:hover {
            .deleteProjectBtn {
              visibility: visible;
            }
          }

          & .deleteProjectBtn {
            visibility: hidden;
            background-image: url(/src/images/icons/trash-2.svg);
            height: 1rem;
            background-position: center;
            background-size: 1rem;
            opacity: 30%;
            border: 0;
            margin: 0;

            &:hover {
              cursor: pointer;
            }
          }

          &.activeProject {
            list-style: "// ";
            color: #62bec1;
          }
        }

        & :hover {
          text-shadow: 0px 1px 2px gray;
        }
      }

      & .CreateNewProjectBtn {
        display: none;
        background-image: url(/src/images/icons/plus.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 1.3rem;
        height: 1.3rem;
        background-size: 1rem;
        border-radius: 6px;
        opacity: 40%;
        border-color: #62bec1;

        &:hover {
          cursor: pointer;
          opacity: 90%;
        }

        &.visible {
          display: block;
        }
      }
      & #CreateNewProjectTextArea {
        display: none;
        transition: 0.3sec;
        border-radius: 5px;
        resize: none;
        font-size: 1.1rem;
        height: 1.4rem;
        overflow: hidden;
        width: 0;

        &.visible {
          transition: 0.4sec;
          display: block;
          width: auto;
        }

        &:focus {
          outline-color: #62bec1;
          overflow: hidden;
        }
      }
    }
  }

  & .container {
    grid-row: 2/2;
    grid-column: 2/2;
    background-color: #f7f7f7;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;

    overflow: hidden;
    overflow-y: scroll;

    & .toDoCard {
      display: flex;
      flex-direction: column;
      width: 95%;
      background-color: #eeeeee;
      color: #041015;
      font-size: 1.2rem;
      height: 1.6rem;
      margin: 6px;
      padding: 8px;
      overflow: hidden;

      &.detailsVisible {
        transition: max-height 1s ease-in-out;
        max-height: 600px !important;
        height: max-content !important;
        & .detailsCardRow {
          overflow-y: scroll;
        }
      }

      & .toDoCardFirstRow {
        display: flex;
        width: 100%;
        height: fit-content;
        padding-bottom: 1rem;
        justify-content: space-between;
        padding-bottom: 1rem;

        & div {
          display: flex;
          gap: 20px;
          align-items: center;
        }

        & button {
          height: 1.5rem;
          min-width: 1.5rem;
          width: 1.5rem;
          cursor: pointer;
          border: 0;

          &.detailsBtn {
            min-width: fit-content;
            width: fit-content;
            border-radius: 3px;
            border: 2px solid #62bec1;
            background-color: #f7f7f7;
            margin: 0;
            font-size: 0.9em;
            height: 1.5em;

            &:hover {
              background-color: #62bec1;
              color: white;
              cursor: pointer;
            }
          }

          &.CheckBtn {
            border: 2px solid #62bec1;
            border-radius: 3px;
            &:hover {
              background-image: url(/src/images/icons/check.svg);
              background-size: 1.5em;
            }
            &:active {
              transform: scale(1.1);
            }
          }

          &.TrashBtn {
            background-image: url(/src/images/icons/trash-2.svg);
            &:hover {
              transform: scale(1.05);
            }
          }

          &.EditBtn {
            background-image: url(/src/images/icons/edit.svg);
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
      &.priorityMedium {
        border-left: 3px solid orange;
      }
      &.priorityLow {
        border-left: 3px solid green;
      }
      &.priorityHigh {
        border-left: 3px solid red;
      }

      &.toDoCompleted {
        & .cardContent {
          text-decoration: line-through red;
        }
        & .CheckBtn {
          background-color: #62bec1;
          background-image: url(/src/images/icons/check.svg);
          background-size: 1.5em;
        }
        opacity: 70%;
        transition: all 0.2s ease-out;

        & button {
          opacity: 70%;
          transition: all 0.2s ease-out;
        }
      }
      &:hover {
        transform: scale(1.003);
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-out;
      }
    }
  }

  & .addToDoBtn {
    background-color: #62bec1;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-image: url(/src/images/icons/plus.svg);
    background-size: 2.9em;
    background-position: center;

    position: absolute;
    right: 1em;
    bottom: 1em;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

.newToDoForm-modal {
  position: fixed;

  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1;
  & form {
    position: relative;
    height: 30rem;
    width: 40rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    background-color: #f7f7f7;
    overflow: hidden;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 10fr;

    font-size: 1.2em;

    & .header {
      grid-row: 1;
      grid-column: 1/3;
      background-color: #62bec1;
      padding-left: 1em;

      display: flex;
      justify-content: center;

      & img {
        position: absolute;
        top: 5px;
        right: 2px;
        width: 2em;

        cursor: pointer;
      }
    }
  }

  & .menu_section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #eeeeee;
    border-right: #b9b9b9 1px solid;
    padding-left: 2rem;
    padding-top: 20px;

    & ul {
      list-style-type: none;
      margin: 0;
      margin-right: 2em;
      padding: 0;

      & li {
        cursor: pointer;

        &.activeProject {
          list-style: "// ";
          color: #62bec1;
        }
      }

      & :hover {
        list-style: "// ";
        color: #62bec1;
      }
    }
  }

  & .inputContainer {
    margin: 20px;
    grid-row: 2;
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .textInputContainer {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin-bottom: 3em;
      & > input,
      textarea {
        padding: 5px;
        font-size: 1.1em;
        border: 0;
        border-radius: 5px;
      }
    }

    & .secondaryInputs {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .create-new__date-input {
        font-size: 1.1em;
      }

      & .priorityContainer {
        display: flex;
        gap: 1em;
        align-items: center;

        & button {
          padding: 8px;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
        }
        & .toDo_lowPriorityBtn {
          border-color: lightgreen;
          color: green;
        }
        & .toDo_mediumPriorityBtn {
          border-color: orange;
          color: orange;
        }
        & .toDo_highPriorityBtn {
          border-color: red;
          color: red;
        }

        & .toDo_lowPriorityBtn_active {
          color: white;
          background-color: green;
        }
        & .toDo_mediumPriorityBtn_active {
          color: white;
          background-color: orange;
        }
        & .toDo_highPriorityBtn_active {
          color: white;
          background-color: red;
        }
      }
    }
  }

  .createToDoBtn {
    background-color: #62bec1;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-image: url(/src/images/icons/plus.svg);
    background-size: 3em;
    background-position: center;

    border: 0;

    position: absolute;
    right: 1em;
    bottom: 1em;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: ease-in-out 0.2s;
    }
    &:active {
      transform: scale(0.9);
      transition: 0.1s;
    }
  }

  &.visible {
    display: flex;
  }
}
