body {
  background-image: url(/src/images/pexels-mudassir-ali-2680270.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  padding: 0;
  margin: 0;

  font-family: lato, sans-serif;
}

#mainContainer {
  width: clamp(800px, 70%, 1400px);
  height: clamp(500px, 70%, 900px);

  display: grid;
  grid-template-columns: clamp(120px, 266px, 260px) 1fr;
  grid-template-rows: 80px 1fr;

  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  overflow: hidden;

  & .header {
    grid-row: 1;
    grid-column: 1/3;

    background-color: #62bec1;
    border-bottom: 1px solid #b9b9b9;

    text-align: center;
  }

  & .menu {
    grid-row: 2/2;
    grid-column: 1/1;
    background-color: #eeeeee;
    border-right: 1px solid #b9b9b9;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 2rem;

    & .menu_main_section {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  & .container {
    grid-row: 2/2;
    grid-column: 2/2;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    & .toDoCard {
      background-color: #eeeeee;
      color: #041015;
      font-size: 1.2rem;
      display: flex;
      width: 95%;
      height: 2rem;
      padding: 8px;
      justify-content: space-between;
      border-radius: 5px;
      margin: 6px;

      & div {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      & button {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        border: 0;

        &.detailsBtn {
          width: fit-content;
          border-radius: 3px;
          border: 2px solid #62bec1;
          margin: 0;
          font-size: 0.9em;
          height: 1.5em;

          &:hover {
            background-color: #62bec1;
            color: white;
            cursor: pointer;
          }
        }

        &.CheckBtn {
          border: 2px solid #62bec1;
          border-radius: 3px;
          &:hover {
            background-image: url(/src/images/icons/check.svg);
            background-size: 1.5em;
          }
          &:active {
            transform: scale(1.1);
          }
        }

        &.TrashBtn {
          background-image: url(/src/images/icons/trash-2.svg);
          &:hover {
            transform: scale(1.05);
          }
        }

        &.EditBtn {
          background-image: url(/src/images/icons/edit.svg);
          &:hover {
            transform: scale(1.05);
          }
        }
      }

      &.priorityMediu {
        border-left: 3px solid orange;
      }
      &.priorityLow {
        border-left: 3px solid green;
      }
      &.priorityHigh {
        border-left: 3px solid red;
      }

      &.toDoCompleted {
        & .cardContent {
          text-decoration: line-through red;
        }
        & .CheckBtn {
          background-color: #62bec1;
          background-image: url(/src/images/icons/check.svg);
          background-size: 1.5em;
        }
        opacity: 70%;
        transition: all 0.2s ease-out;
      }

      &:hover {
        transform: scale(1.003);
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease-out;
      }
    }

    & .addToDoBtn {
      background-color: #62bec1;
      width: 3em;
      height: 3em;
      border-radius: 100%;
      background-image: url(/src/images/icons/plus.svg);
      background-size: 2.9em;
      background-position: center;

      position: absolute;
      right: 1em;
      bottom: 1em;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

.newToDoForm-modal {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1;

  & form {
    position: relative;
    height: 30rem;
    width: 60rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    background-color: #f7f7f7;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;

    & .header {
      grid-row: 1;
      grid-column: 1/3;
      background-color: #62bec1;

      display: flex;
      justify-content: space-between;

      & img {
        position: absolute;
        top: 5px;
        right: 2px;
        width: 2em;

        cursor: pointer;
      }
    }
  }
  & .menu {
    grid-row: 2;
    grid-column: 1/1;
    background-color: #eeeeee;
    border-right: #b9b9b9 1px solid;
  }
  & .inputContainer {
    margin: 20px;
    grid-row: 2;
    grid-column: 2;
  }

  &.visible {
    visibility: visible;
  }
}
